:root {
  --pui-radius-2: 2px;
  --pui-radius-xs: 4px;
  --pui-radius-sm: 6px;
  --pui-radius-md: 8px;
  --pui-radius-lg: 10px;
  --pui-radius-xl: 12px;
  --pui-radius-2xl: 14px;
  --pui-radius-full: 999px;
}
